.visor_calculadora {
    background-color: rgb(62, 61, 61);
    color: white;
    display: flex;
    justify-content: flex-end;
    height: 8vh;
    margin: 1rem;
    padding: 2rem;
    align-items: center;
}